<nav class="nav is-vertical-align is-full-width no-print" id="navbar">
    <div class="nav-left hide-xs">
        <a class="brand" href="#">{{ site.title }}</a>
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>
            {{ item.name }}
        </a>
        {% endfor %}
        {% if site.buttery-biscuit.darkmode %}
        <a href="javascript:void(0)" id="theme-switch" onclick="switchMode(this)">☀️</a>
        {% endif %}
    </div>
    <div class="nav-center hide-sm hide-md hide-lg">
        <a class="brand" href="#">{{ site.title }}</a>
    </div>
    <div class="nav-right hide-sm hide-md hide-lg">
        <details class="dropdown">
            <summary class="button icon-only">
                <img src="https://icongr.am/feather/menu.svg?size=64&color=currentColor">
            </summary>
            <div class="card" style="padding-left: 0; padding-right: 0; margin-left: -30%;">
                {% for item in site.data.navigation %}
                <p><a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>
                    {{ item.name }}
                </a></p>
                {% endfor %}
                {% if site.buttery-biscuit.darkmode %}
                <p><a href="javascript:void(0)" id="theme-switch" onclick="switchMode(this)">☀️</a></p>
                {% endif %}
            </div>
        </details>
    </div>
</nav>