<!-- Feed generating loop -->
{% for post in paginator.posts %}

<!-- Post heading -->
<div class="row">
    <div class="col">
        <h1 style="margin-bottom: 0;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <p>
            Published {{ post.date | date: "%Y-%m-%d" }}
            {% for tag in post.tags %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}
        </p>
    </div>
</div>

<!-- Post content -->
<div class="row">
    {% if post.img %}
    <div class="col-4">
        {% if post.cropkeep %}
        {% picture "{{ post.img }}" 3:2 "post.cropkeep" %}
        {% else %}
        {% picture "{{ post.img }}" %}
        {% endif %}
    </div>
    {% endif %}

    <div class="col">
        {{ post.excerpt }}
    </div>
</div>
{% endfor %}