{% if paginator.total_pages > 1 %}
<div class="row is-center">
  <div class="col is-center">
    {% if paginator.previous_page %}
      <a class="button primary" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
      <a class="button dark">&laquo; Prev</a>
    {% endif %}
  </div>

  <div class="col is-center">
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em class="paginateindex">{{ page }}</em>
      {% elsif page == 1 %}
        <a class="paginateindex" href="{{ '/' | relative_url }}">{{ page }}</a>
      {% else %}
        <a class="paginateindex" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="col is-center">
    {% if paginator.next_page %}
      <a class="button primary" href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
      <a class="button dark">Next &raquo;</a>
    {% endif %}
  </div>
</div>
{% endif %}